<section id=configuracion-lc>
    <div id="cover-caption">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 offset-sm-1">
                    <h1>LOG DE CARGA DE ARCHIVOS</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 offset-sm-1">
                    <div class="info-form">
                        <form class="form-inline justify-content-center">
                            <div class="table-responsive-sm">
                                <table class="table">
                                    <thead>
                                      <tr>
                                        <th>#</th>
                                        <th>Firstname</th>
                                        <th>Lastname</th>
                                        <th>Age</th>
                                        <th>City</th>
                                        <th>Country</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>1</td>
                                        <td>Anna</td>
                                        <td>Pitt</td>
                                        <td>35</td>
                                        <td>New York</td>
                                        <td>USA</td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
