<nav class="navbar navbar-expand-lg fixed-top navbar-dark">
    <!-- ============================================================== -->
    <!-- Logo -->
    <!-- ============================================================== -->
    <div class="navbar-header">
        <a class="navbar-brand logo" href="index.html">
            <!-- Logo icon --><b>
                <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                <!-- Dark Logo icon -->
                <img src="./assets/images/logo_claro.png" alt="homepage" />
                <!-- Light Logo icon -->
            </b>
            <!--End Logo icon -->
            <!-- Logo text -->
        </a>
    </div>
    <!-- ============================================================== -->
    <!-- End Logo -->
    <!-- ============================================================== -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main_nav">
        <!-- ============================================================== -->
        <!-- toggle and nav items -->
        <!-- ============================================================== -->
        <ul class=" navbar-nav">
            <!-- This is  -->
            <li>
                <a class="nav-link" routerLink="grafica-bienvenida" data-toggle="dropdown">Inicio</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Parametrizaciones</a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="app-segmentos">Segmentos</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Mensajes</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Asesores Comerciales</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Mensajes por Campañas</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Usuarios por Campañas</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="nav-link" href="#" data-toggle="dropdown">Campañas</a>
            </li>
            <li>
                <a class="nav-link" href="#" data-toggle="dropdown">Reportes</a>
            </li>
        </ul>
    </div>
</nav>